<!-- hej
<app-person></app-person>
hvis vi skriver en ny component kan vi lige pt lægge den her -->

<!-- <app-parent></app-parent> eksempel på @Input simpelt -->

 <!-- <app-todos></app-todos>min parent -->

 <app-todos></app-todos>
 <!-- <nav>
   <a routerLink="/parent" routerLinkActive="active">Parent </a>
   <a routerLink="/Person" routerLinkActive="active"> Person Det jeg klikker på </a>
   <a routerLink="/person" routerLinkActive="active"> Person works    </a>
   <a routerLink="/Kaffe" routerLinkActive="active"> Parent </a>
 </nav>
 <router-outlet></router-outlet> -->
<!-- localhost:4200/parent -->
